@charset "UTF-8";

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: #00EEFF;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--fonte-principal);
}

.contato{
    margin: 75px auto auto auto;
    flex-direction: column;
}

.contato h1{
    color: var(--cor-azul);
    font-size: 2em;
    text-align: center;
}

.container-contato {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    margin: 55px auto 0;
}

.container-contato .info-contato {
    width: 100%;
    max-width: 50%;
    text-align: center;
    padding: 10px;
}

.info-contato .div-logo {
    padding: 30px;
}

.info-contato .div-logo img {
    width: 48px;
    margin-right: 5px;
}

.info-contato .div-logo span {
    color: white;
    font-size: 30px;
    margin-top: 13px;
}

.info-contato p {
    width: 100%;
    max-width: 555px;
    display: flex;
    color: white;
    margin: auto;
}

.info-contato .links-redes {
    margin-top: 20px;
}

.info-contato .links-redes span {
    padding: 10px;
}

.formulário {
    width: 100%;
    max-width: 50%;
    display: flex;
    padding: 10px;
}

form {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 6px;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 30px;
    margin-bottom: 7px;
}

input, textarea {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #cccccc00;
    border-radius: 30px;
    background-color: #7e85926b;
    color: white;
}

.formulário button {
    width: 100%;
    max-width: 440px;
    padding: 10px 0;
    background-color: var(--cor-azul);
    color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 6px;
}

.formulário button:hover{
    transform: scale(1.04);
}

input::placeholder,
textarea::placeholder {
    color: white;
    opacity: 0.7;
}

input:hover,
textarea:hover {
    border: 2px solid var(--cor-azul);
}

input:focus,
textarea:focus {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

input:valid,
textarea:valid {
    border: 2px solid var(--cor-azul);
    border-color: var(--cor-azul) !important;
    outline: none !important;
}

/* Estilos para tablets */
@media (max-width: 768px) {
    .container-contato {
        flex-direction: column;
        align-items: center;
        margin: 40px auto 0;
    }

    .container-contato .info-contato, .container-contato .formulário {
        max-width: 90%;
    }

    .contato{
        margin: 50px auto auto auto;
    }

    .contato h1 {
        font-size: 1.8em;
    }

    .info-contato .div-logo {
        display: none;
    }

    .info-contato .div-logo span {
        font-size: 25px;
    }

    .info-contato p {
        font-size: 1rem;
    }

    .formulário button {
        max-width: 100%;
        margin-left: 0;
    }
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
    .container-contato {
        flex-direction: column;
        align-items: center;
    }

    .container-contato .info-contato, .container-contato .formulário {
        max-width: 100%;
    }

    .contato{
        margin: 50px auto auto auto;
    }

    .contato h1 {
        font-size: 1.5em;
    }

    .info-contato .div-logo span {
        font-size: 20px;
    }

    .info-contato p {
        font-size: 0.9rem;
    }

    .formulário button {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }
}
