@charset "UTF-8";

:root {
    --fonte-principal: "Montserrat", serif;
    --fonte-secundaria: Arial, Helvetica, sans-serif;
    --cor-azul: .00EEFF;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: var(--fonte-principal);
}

.habilidades{
    margin: 40px auto 0px auto;
    justify-content: center;
}

.habilidades .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container h1 {
    color: var(--cor-azul);
    margin-bottom: 20px;
    padding-top: 30px;
    font-size: 2em;
}

.grid-container p {
    width: 100%;
    max-width: 700px;
    color: white;
    margin: auto;
    padding: 10px 0 30px 0;
    text-align: center;
}

.grid-container p strong{
    color: var(--cor-azul);
}

.grid-skills {
    width: 100%;
    max-width: 450px;
    margin: 0px 3px 0px -8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 43px 40px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px auto 0px auto;    
}

.grid-skills div {
    width: 65px;
    height: 50px;
    transition: 0.3s;
}

.grid-skills div img {
    width: 50px;
    margin: auto;
    color: rgb(177, 177, 177);
    padding: 3px;
    transition: 0.3s;
}

.desbloqueado {
    border-radius: 25%;
}

.desbloqueado:hover{
    transform: scale(1.3);
}

.bloqueado {
    border: 3.5px dashed rgba(177, 177, 177, 0.086);
    border-radius: 25%;
}

@media (max-width: 768px) {
    .grid-skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 64px 0px;
        margin: 20px 10px 0px 0px;
    }

    .grid-container h1 {
        font-size: 1.8em;
    }

    .grid-container p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .habilidades {
        margin: 0px auto 0px auto;
        justify-content: center;
    }
    
    .grid-skills {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 49px 0px;
        margin: 5px 10px 0px 0px;
    }

    .grid-skills div {
        width: 50px;
        height: 50px;
        margin: auto;
    }

    .grid-container h1 {
        font-size: 1.5em;
    }

    .grid-container p {
        font-size: 0.9rem;
        padding: 5px 0 20px 0;
    }
}
